@page
@model Streamed_Chaos.Pages.IndexModel

<div>
    <h4>
        User Instructions
    </h4>
    <p>
        The Channel Id can be found using this <a href="https://commentpicker.com/youtube-channel-id.php">website</a> and inserting the link according to their
        instructions. The Playlist Id is the letters and numbers following list= in the playlist link.
    </p>
</div>


<p>
    <a class="btn btn-primary" asp-page="Create">New Youtube Channel</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model.UserPlaylist)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.ChannelName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Channel Id: @item.ChannelId</h6>
                        <p class="card-text">Playlist Id: @item.PlaylistId</p>
                        <p class="card-text">Playlist Link: @item.PlaylistLink</p>
                        <p>
                            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
